.cart-page {
    /* border: 5px solid red; */
    display: flex;
    height: fit-content;
    min-height: 100vh;
    background-color: #f0f2f4;
}

.cart-left-side-container {
    width: 70%;
    padding: 1.5rem 2.5rem;
    /* height: 100%; */
    /* overflow: scroll; */

}

.cart-top-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* height: 50%; */
    /* overflow: scroll; */
}

.cart-items-stuff {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* overflow: scroll; */
}

.individual-item {
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1.5rem;
    height: 100%;
}

.image-name {
    display: flex;
    gap: 1rem;
    text-decoration: none;
}

.cart-item-image {
    height: 150px;
    width: 150px;
}

.cart-product-name {
    color:#0046be;
}

.cart-product-name:hover {
    text-decoration: underline;
    cursor:pointer;
}

.quantity-price {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.quantity-select {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.pricing-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 65px;
    gap: .2rem;
}

.single-amount-times {
    font-weight: bolder;
}

.single-amount-price {
    font-size: 11px;
}

.select-option {
    padding: .5rem 1.5rem;
    border-radius: 5px;
}

.cart-bottom-area, .saved-bottom-area {
    /* height: 41%; */
    border-radius: 3px;
}

.saved-bottom-area {
    background-color: white;
    padding: 1.5rem;
    margin-top: 1rem;
}

.saved-item-no {
    margin-top: 1.5rem;
    padding: 2rem;
    border-top: 1px solid lightgray;
    text-align: center;
}

.save-add-button {
    padding: .3rem 3rem;
    color: #0046be;
    border: 1px solid #0046be;
    border-radius: 4px;
    background-color: white;
    width: 90%;
}

.saved-item-no > p {
    font-size: 12px;
    padding-top: .5rem;
}

.x-area {
    display: flex;
    width: 100%;
}

.rec-link {
    color:#0046be;
}

.rec-link:hover {
    color: darkblue;
}

.saved-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.saved-container > h2 {
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}

.saved-individual {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    overflow: scroll;
    /* border: 1px solid red; */
    width: 100%;
}

.x-area {
    display: flex;
    flex-direction: row-reverse;
}

.saved-info-area {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 4px;
    align-items: center;
    padding: 1rem;
    margin-bottom: .3rem;
    gap: .5rem;
    justify-content: space-around;
}

.saved-image-area {
    align-items: center;
    justify-content: center;
}

.saved-item-image {
    width: 150px;
    height: 150px;
    object-fit: fill;
}

.saved-item-image:hover {
    cursor: pointer;
}

.saved-info-area > p {
    text-align: left;
}

.right-side {
    width: 30%;
    /* border: 5px solid orange; */
    background-color: white;
    height: auto;
    border-left: 1px solid lightgray;
}

.order-summary {
    /* border: 5px solid purple; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    position: sticky;
    top: 0;
    right: 0;
}

.order-details {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray
}

.bill, .price {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    font-size: 13px;
    padding-top: 1rem;
}

.price {
    align-items: flex-end;
}

.order-header {
    display: flex;
    justify-content: center;
    padding-top: .5rem;
}

.checkout-area {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray
}

.button-area {
    display: flex;
    justify-content: center;
}

.total, .total-amount {
    padding-top: .5rem;
}

.checkout {
    padding: 1rem;
    width: 100%;
    background-color: #ffe000;
    border: 1px solid #ffe000;
    color: black;
    font-weight: bolder;
    border-radius: 8px;
}

.checkout-empty {
    padding: 1rem;
    width: 100%;
    background-color: #0046be;
    border: 1px solid #0046be;
    color: white;
    font-weight: bolder;
    border-radius: 8px;
}

.checkout:hover {
    cursor: pointer;
}

.remove-item, .save-item {
    color: #0046be;
    font-size: 12px;
}
.remove-item:hover, .save-item:hover {
    cursor: pointer;
    text-decoration: underline;
}
