.cart-page {
    /* border: 5px solid red; */
    display: flex;
    height: 100vh;
    gap: 1rem;
    background-color: #f0f2f4;
}

.cart-left-side-container {
    /* border: 5px solid Green; */
    width: 70%;
    background-color: #f0f2f4;
}

.cart-top-area {
    height: 100%;
    overflow: scroll;
}

.cart-item-image {
    height: 150px;
    width: 150px;
}

.cart-items-stuff {
   background-color: white;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.individual-item {
    /* border: 5px solid black; */
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    height: 50%;
}

.quantity-price {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.quantity-select {
    margin-top: 1rem;
}

.cart-bottom-area {
    height: 50%;
}

.right-side {
    width: 30%;
    /* border: 5px solid orange; */
    background-color: white;
    height: 100vh;
}

.order-summary {
    /* border: 5px solid purple; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.order-details {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray
}

.order-header {
    display: flex;
    justify-content: center;
}

.checkout-area {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray
}

.button-area {
    display: flex;
    justify-content: center;
}

.remove-item {
    margin: 0;
}


.checkout {
    padding: 1rem;
    width: 100%;
    background-color: yellow;
    color: black;
    border-radius: 8px;
}

.checkout:hover {
    cursor: pointer;
}

.remove-item {
    color: #0046be
}
.remove-item:hover {
    cursor: pointer;
    text-decoration: underline;
}
