.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    margin-top: 1rem;
    padding-top: 2rem;
    width: 28%;
    height: 45%;
    margin: 0 auto;
    margin-top: 3vh;
}

.form-area {
    width: 80%;
    /* border: 5px solid purple; */
    height: 80%;
}

.form-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.input-box {
    width: 100%;
}

.email-box, .password-box {
    width: 93.7%;
}

.sign-in-button {
    width: 100%;
    background-color: #0046be;
    color: white;
    font-size: bold;
}

.email-box, .password-box, .sign-in-button{
    padding: .75rem .5rem;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.sign-up-page-whole {
    border: 5px solid red;
    background-color: #f0f2f4;
    height: 100vh;
}

.button-area {
    width: 100%;
}

.terms-create-acc {
    margin-top: 2rem;
    border-top: 1px solid lightgray
}

.disclosure {
    font-size: 12px;
}

.sign-up-page {
    text-decoration: none;
    font-size: 12px;
    color: #0046be
}
