.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 10em;
  width: auto;
  height: auto;
  right: 5em;
  margin-top: 10px;
  padding: 0.5em;
  background-color: white;
  box-shadow: 0px 0px 10px lightgrey;
  border-radius: 15px;
  /* top: px; */
  list-style: none;
  z-index: 1;
}

.hidden {
  display: none;
}

li {
  list-style: none;
}

.profile-li {
  display: flex;
}

.right-corner {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-right: 1.5rem;
}

.nav-bar-area {
  background-color: #0046be;
}

.nav-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-bottom: .5rem;
  border-bottom: 1px solid lightgray;
}

.logo {
  text-decoration: none;
  color: white;
  height: 50px;
  width: 105px;
  padding: 1rem;
  margin-left: 1rem;
  margin-top: .5rem;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  width: 45%;
  padding: 1rem;
  border-radius: 5px;
}

.search-input {
  outline: none;
  border: none;
  width: 100%;
}

.search-icon {
  display: flex;
  align-items: center;
}

.right-side-search-area {
  width: 100%;
}


.search-img {
  height: 50px;
  width: 50px;
  object-fit: fill;
}

.left-side-search-area {
  width: 50%;
}

.product-search-area {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-left: 1px solid gray;
  padding: .5rem;
}

.search-word {
  display: flex;
  gap: 1rem;
  padding-left: .5rem;
  padding-top: .5rem;
}

.search-word:hover {
  cursor:pointer;
}

.show-search {
  background-color: white;
  height: 350px;
  overflow: auto;
  position: absolute;
  top: 3.5rem;
  border-radius: 4px;
  left: 0;
  width: 100%;
  border: 1px solid gray
}

.fa-shopping-cart {
  font-size: 20px;
}

.cart-logo {
  position: relative;
}

.cart-logo-amount {
  position: absolute;
  background-color: yellow;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 12px;
  right: -14%;
  color: black;
  bottom: 16px;
}

.cart-logo-amount:hover {
  cursor: pointer;
}
