.login-button-nav, .sign-up-button-nav {
    padding: .5rem;
}

.login-button-nav {
    background-color: #0046be;
    border: 1px solid #0046be;
    border-radius: 5px;
    color: white;
}

.sign-up-button-nav {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    color: #0046be;
}

.login-button-nav:hover {
    cursor: pointer;
}

.sign-up-button-nav:hover {
    cursor: pointer;
}

.nav-bar-area-button {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
