.review-container {
    padding: 2rem;
}

.Review-Item-Title {
    font-weight: bolder;
    padding-bottom: 1rem;
}

.product-model-review {
    padding-bottom: 1.5rem;
    font-size: 14px;
}

.insert-pic {
    margin-top: 1rem;
}

.review-content-section {
    margin-top: 1rem;
}

.empty {
    color: lightgray;
}

.filled {
    color: orange;
}

.stars-for-rating {
    display: flex;
}


.choose-option {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 0;
}

.errors {
    color: red;
    font-size: 14px;
}

.review-img {
    width: 100%;
    height: 500px;
    object-fit: fill;
}

.review-area {
    /* border: 5px solid green; */
    display: flex;
}

.review-product-image {
    /* border: 5px solid blue; */
    width: 30%;
}

.form-info {
    /* border: 5px solid purple; */
    width: 70%;
    padding-left: 2rem;
}

.review-text {
    width: 60%;
    resize: none;
    height: 1.5rem;
    padding-left: .5rem;
    padding-top: .5rem;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .5rem;
}

.review-title, .image-upload {
    margin-top: .5rem;
}

.review-text::placeholder, .review-text-info::placeholder, .review-title::placeholder {
    color: gray;
    font-size: bolder;
}

.overall-rating-header-review {
    margin-top: 1rem;
}

.stars-for-rating {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.image-upload {
    width: 30%;
    padding: .4rem .5rem;
}

.under-review, .under-review-text-box {
    font-size: 11px;
    padding-bottom: .5rem;
}


.tell-us {
    margin-top: 1rem;
}


.quality-header, .val-header {
    margin-top: 1rem;
}

.quality-value {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.qual, .val {
    display: flex;
    flex-direction: column;
}

.review-title {
    width: 43%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
}

.review-text-info {
    width: 43%;
    padding-left: .5rem;
    padding-top: .5rem;
    outline: none;
    height: 8rem;
    resize: none;
    margin-top: 1rem;
}

.recommendation-area {
    margin-top: 1rem;
}

.choose-option {
    margin-top: .5rem;
}

.option-header {
    font-size: 13px;
    padding-top: .5rem;
}

.submit-review-button {
    margin-top: 1rem;
    padding: .5rem 1rem;
    background-color: #0046be;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    border:1px solid #0046be;
}

.submit-review-button:hover {
    cursor: pointer
}

.choose-option {
    margin-bottom: 2rem;
}

.purchased-area {
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}
