.empty {
    color: lightgray;
}

.filled {
    color: orange;
}

.stars-for-rating {
    display: flex;
}


.choose-option {
    display: flex;
    flex-direction: column;
}

.errors {
    color: red;
}

.review-img {
    width: 20%;
}

